<div class="card shadow project-card text-center" (click)="OpenProjectModal()">
    <div class="card-body project-card-body">
        <p class="card-title project-card-title"><i>{{project.name}}</i></p>
        <p class="card-text project-card-text">{{project.summary}}.</p>
    </div>
    <div class="card-footer project-card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class="tag me-2 mb-1">{{tag}}</div>
            </div>
        </div>
    </div>
    <div class="year project-card-year">{{project.year}}</div>
</div>