.tag{
    padding: 0 20px;
    height:30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 30px;
    background-color: blue;
    color: white;
}

.card.shadow {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), 
                -8px -8px 16px rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.shadow:hover {
    transform: translateY(-5px);
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.25), 
                -12px -12px 20px rgba(255, 255, 255, 0.07);
}
