<div class="card shadow text-center" style="max-width: 350px; min-width: 350px; background: linear-gradient(145deg, #2a2a2a, #323232); border: none; border-radius: 8px;">
    <div class="card-body">
        <p class="card-title" style="color: #81ffff; font-size: large;">{{project.name}}</p>
        <p class="card-text" style="color: #e8e8e8;">{{project.summary}}.</p>
        <button class="btn btn-primary" style="background-color: #9674d4; border: none;">Details</button>
    </div>
    <div class="card-footer" style="background-color: rgba(255, 255, 255, 0.05); border-top: none;">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class="tag me-2 mb-1" style="background-color: #838383; color: #030d0b; padding: 4px 8px; border-radius: 2px; font-size: 0.8rem;"><i>{{tag}}</i></div>
            </div>
        </div>
    </div>
    <div class="year" style="position: absolute; top: 10px; right: 10px; color: #838383; font-size: small;">
        {{project.year}}
    </div>
</div>
