.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
  .custom-navbar {
    background-color: #2a2a2a;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 450px;
    display: flex;
    align-items: center;
  }
  
  .custom-navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .custom-navbar .nav-link {
    color: #a0a0a0;
    border-radius: 20px;
    padding: 8px 16px;
    margin: 0 5px;
    transition: all 0.3s ease;
  }
  
  .custom-navbar .nav-link:hover {
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  .custom-navbar .nav-link.active {
    background-color: #3a3a3a;
    color: #ffffff !important;
  }
  
  .profile-image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
    transition: background-color 0.3s ease, filter 0.3s ease;
    transform-origin: center center;
  }
  
  .profile-image:hover {
    transform: translateY(-50%) scale(1.1); /* Scale up the image slightly */
    filter: brightness(1.2); /* Slightly brighten the image */
  }