<div class="modal-header modal-surface">
    <h2 class="modal-title-text">
        <p *ngIf="project.url; else projectInProgress" class="modal-title-accent">
            {{project.name}}
            <a href="{{project.url}}" target="_blank" class="github-link">
                <svg class="github-icon-svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M12 .5C5.649.5.5 5.649.5 12c0 5.084 3.292 9.398 7.861 10.92.575.106.785-.25.785-.556 0-.274-.01-1-.016-1.962-3.198.695-3.873-1.541-3.873-1.541-.523-1.328-1.278-1.682-1.278-1.682-1.045-.714.079-.699.079-.699 1.155.081 1.763 1.186 1.763 1.186 1.027 1.76 2.695 1.252 3.352.958.104-.744.402-1.252.731-1.54-2.553-.291-5.238-1.276-5.238-5.681 0-1.255.449-2.282 1.185-3.086-.119-.291-.513-1.462.113-3.049 0 0 .967-.31 3.17 1.179a11.04 11.04 0 0 1 2.885-.388c.979.004 1.966.132 2.886.388 2.2-1.49 3.166-1.179 3.166-1.179.628 1.587.234 2.758.115 3.049.738.804 1.183 1.831 1.183 3.086 0 4.416-2.689 5.386-5.252 5.671.413.355.781 1.055.781 2.126 0 1.535-.014 2.772-.014 3.148 0 .309.207.668.79.555C20.212 21.395 23.5 17.082 23.5 12 23.5 5.649 18.351.5 12 .5Z" />
                </svg>
            </a>
        </p>        
        <ng-template #projectInProgress>{{project.name}} - Project in Progress</ng-template>
    </h2>
    <button class="custom-close-btn" type="button" aria-label="Close project details" (click)="bsModalRef.hide()">&times;</button>
</div>

<div class="modal-body">
    <carousel>
        <div *ngFor="let media of project.pictures">
            <slide>
                <!-- Check if file is video by extension -->
                <div *ngIf="isVideo(media); else imageTemplate">
                    <video controls style="display: block; width: 100%; max-height: 400px;">
                        <source src="{{media}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <ng-template #imageTemplate>
                    <img src="{{media}}" alt="slide" style="display: block; width: 100%;">
                </ng-template>
            </slide>
        </div>
    </carousel>
    
    <hr class="accent-hr">
    <div class="d-flex flex-wrap">
        <!-- Fixed: loop over project.tags instead of project.pictures -->
        <div *ngFor="let tag of project.tags">
            <div class="tag me-2 mb-1">{{tag}}</div>
        </div>
    </div>
</div>