<div class="resume-container">
    <div class="resume-page">
        <h1>Suhaas Rao Badada</h1>
        <div class="contact-info">
        <a href="tel:812-803-0562" class="contact-item" title="Call">
            <i class="material-icons">phone</i>
        </a>
        <a href="mailto:suhaasbadada.dev@gmail.com" class="contact-item" title="Email">
            <i class="material-icons">email</i>
        </a>
        <a href="https://linkedin.com/in/suhaas-badada" target="_blank" class="contact-item" title="LinkedIn">
            <i class="material-icons">link</i>
        </a>
        <a href="https://github.com/suhaasbadada" target="_blank" class="contact-item" title="GitHub">
            <i class="material-icons">code</i>
        </a>
        </div>               
  
      <section>
        <h2>EDUCATION</h2>
        <div class="education-item">
          <h3>Indiana University Bloomington</h3>
          <p>Masters in Computer Science</p>
          <p>Aug 2024 - May 2026</p>
          <p>CGPA - 4 / 4</p>
        </div>
        <div class="education-item">
          <h3>Vellore Institute of Technology</h3>
          <p>Bachelors of Technology in Computer Science and Engineering</p>
          <p>Jul 2019 - May 2023</p>
          <p>CGPA - 8.69 / 10</p>
        </div>
      </section>
  
      <section>
        <h2>TECHNICAL SKILLS</h2>
        <div class="skills-category">
          <strong>Programming Languages</strong>
          <em>
                <span class="skill-box">C++</span>
                <span class="skill-box">Python</span>
                <span class="skill-box">C#</span>
                <span class="skill-box">Java</span>
                <span class="skill-box">GoLang</span>
                <span class="skill-box">Typescript</span>
            </em>
        </div>
        <div class="skills-category">
          <strong>Frameworks</strong>
          <em>
            <span class="skill-box">Flask</span>
            <span class="skill-box">ASP.NET</span>
            <span class="skill-box">Angular</span>
            <span class="skill-box">Gin</span>
            <span class="skill-box">Langchain</span>
           </em>
        </div>
        <div class="skills-category">
          <strong>Database</strong>
          <em>
          <span class="skill-box">SQL</span>
          <span class="skill-box">MongoDB</span>
          <span class="skill-box">Firebase</span>
        </em>
        </div>
        <div class="skills-category">
          <strong>Machine Learning & AI</strong>
          <em>
          <span class="skill-box">Machine Learning</span>
          <span class="skill-box">Data Science</span>
          <span class="skill-box">Prompt Engineering</span>
        </em>
        </div>
        <div class="skills-category">
          <strong>Tools</strong>
          <em>
          <span class="skill-box">Git</span>
          <span class="skill-box">SQL Server Management Studio</span>
          <span class="skill-box">PowerBI</span>
          <span class="skill-box">Azure ML Studio</span>
        </em>
        </div>
        <div class="skills-category">
          <strong>Certifications</strong>
          <em>
          <span class="skill-box">Python for DS and ML</span>
          <span class="skill-box">Angular and ASP.NET core</span>
          <span class="skill-box">Docker and Kubernetes</span>
        </em>
        </div>
      </section>
      
      <section>
        <h2>EXPERIENCE</h2>
        <div class="experience-item">
          <h3>Becton Dickinson</h3>
          <p><i>Data Science Intern</i></p>
          <p>Jan 2023 – Jun 2023</p>
          <ul>
            <li>Engineered a customer engagement analytics platform for personalized product recommendations, leveraging machine learning for data-driven insights. Projected 15% lesser expenditure by focusing campaigns and events based on customer engagement levels and sales revenue boost of 20%.</li>
            <li>Conducted rigorous data exploration, analysis, and validation to ensure data accuracy and reliability of more than 2 million records.</li>
            <li>Streamlined data integration from 5+ sources to identify key performance indicators (KPIs) for effective customer segmentation and modeling.</li>
            <li>Researched and implemented "Next Best Action" strategies to optimize business outcomes and enhance recommendation effectiveness.</li>
          </ul>
        </div>
        <div class="experience-item">
          <h3>Becton Dickinson</h3>
          <p><i>Software Development Engineer Intern</i></p>
          <p>May 2022 – Jul 2022</p>
          <ul>
            <li>Designed and implemented a user-friendly portal enabling administrators to execute SQL queries for in-depth analysis of the formulary database, resulting in analysis results being delivered approximately 30% faster due to streamlined permissions.</li>
            <li>Collaborated with cross-functional teams located across the USA and Chandigarh.</li>
          </ul>
        </div>
      </section>

        <section>
            <h2>PROJECTS</h2>
            <div class="project-item">
              <h3>Am I Okay (MLH Hoya Hacks Winner)</h3>
              <p class="project-skills">
                <em>
                  <span class="skill-box">Python</span>
                  <span class="skill-box">Machine Learning</span>
                  <span class="skill-box">Flask</span>
                  <span class="skill-box">HTML</span>
                  <span class="skill-box">CSS</span>
                  <span class="skill-box">Google Cloud API</span>
                </em>
              </p>
              <ul>
                <li>Engineered a Machine Learning based software that predicts diseases based on symptoms, provides details, recommends medication, and offers location of the nearest top rated super specialty hospitals that treat it.</li>
                <li>Evaluated and compared over 7 classification algorithms to determine the best performing model.</li>
              </ul>
            </div>
            <div class="project-item">
              <h3>ResuSight</h3>
              <p class="project-skills">
                <em>
                  <span class="skill-box">Flask</span>
                  <span class="skill-box">Strawberry GraphQL</span>
                  <span class="skill-box">MongoDB</span>
                  <span class="skill-box">OpenAI</span>
                  <span class="skill-box">Langchain</span>
                </em>
              </p>
              <ul>
                <li>Developed an innovative interview preparation platform, leveraging OpenAI via Langchain which facilitates detailed resume analysis and generates customized interview questions based on resumes and job descriptions.</li>
                <li>Aimed at helping candidates focus their efforts efficiently and save precious time.</li>
              </ul>
            </div>
            <div class="project-item">
              <h3>VocabCards</h3>
              <p class="project-skills">
                <em>
                  <span class="skill-box">Angular</span>
                  <span class="skill-box">ASP.NET</span>
                  <span class="skill-box">SQL</span>
                  <span class="skill-box">MaterialUI</span>
                  <span class="skill-box">Firebase</span>
                  <span class="skill-box">Azure</span>
                </em>
              </p>
              <ul>
                <li>Created a personalized vocabulary learning platform for GRE aspirants, a full stack project, incorporating progress tracking features and gamified elements.</li>
                <li>Led to 30% weekly new user registrations and positive feedback from 90% of participants during user testing.</li>
              </ul>
            </div>
          </section>
  
      <section>
        <h2>PUBLICATIONS</h2>
        <p>"Predicting Cardiovascular Disease (CVD) Risk Over Time Utilising Multifaceted Health and Lifestyle Parameters", International Journal of Science and Research, 2023</p>
      </section>

      <section>
        <h2>AWARDS</h2>
        <ul>
          <li>
            <strong>Luddy Hackathon Third Edition Winner</strong> - Presented by the Tech Innovators Association for developing a groundbreaking algorithm that optimizes cloud computing efficiency, resulting in a 30% reduction in energy consumption for data centers nationwide.
          </li>
          <li>
            <strong>MLH Hoya Hacks Google Cloud Track Winner</strong> - First place winner at the International Code Challenge 2023, recognized for creating an AI-driven solution that accurately predicts and prevents potential security breaches in large-scale network systems.
          </li>
        </ul>
      </section>
      
    </div>
  </div>
  