/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Ubuntu'; /* Set default font */
  }
html, body { height: 100%; }

#favicon {
    border-radius: 50%;
    overflow: hidden;
  }