<div class="home-container">
  <div class="profile-section">
    <img src="assets/mp.jpg" alt="Suhaas Rao Badada" class="profile-picture">
  </div>

  <div class="info-section">
    <h1>Suhaas Rao Badada <sub style="font-size: small;"><a href="#" class="learn-more-button" routerLink="/portfolio">Learn More ></a></sub></h1>
    <div class="quote-box">
      <blockquote>
        CS grad student at IU Bloomington. <hr>
        I'm all about building scalable, efficient, and user-centric technologies that drive innovation and impact.
      </blockquote>
    </div>

    <!-- Map below the quote box -->
    <div class="map-container">
      <!-- <h2>Current location</h2> -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117330.10512608849!2d-86.57670511961499!3d39.16532556817831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b53eab7d2f77b%3A0x98d357c6e91a0221!2sBloomington%2C%20IN%2C%20USA!5e0!3m2!1sen!2sin!4v1631456595574!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

<div class="social-links">
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/suhaasbadada" target="_blank">
      <img src="assets/linkedin-logo.png" alt="LinkedIn" class="social-icon">
    </a>
    <a href="https://github.com/suhaasbadada" target="_blank">
      <img src="assets/github-logo.png" alt="GitHub" class="social-icon">
    </a>
    <a href="https://leetcode.com/suhaasbadada" target="_blank">
      <img src="assets/leetcode-logo.png" alt="LeetCode" class="social-icon">
    </a>
    <a href="https://www.instagram.com/suhaasbadada" target="_blank">
      <img src="assets/instagram-logo.png" alt="Instagram" class="social-icon">
    </a>
  </div>
</div>

<!-- Copyright Section -->
<div class="copyright">
  &copy; 2025 Suhaas Rao Badada
</div>
